@import url(./mameCommentCommon.css);

#titleImage{
    position:absolute;
    top:5px;
    left:5px;
}
#accountFrame{
    position:absolute;
    top:5px;
    left:84px;
    right:5px;
    height: 74px;
}
#accountImage{
    position:absolute;
    top:10px;
    right:10px;
}

#getFrame{
    position:absolute;
    top:84px;
    left:5px;
    right:5px;
    height: 55px;
}

#movieUserId{
    position:absolute;
    top:110px;
    left:110px;
    width:300px;
}
#getButton{
    position:absolute;
    top:108px;
    left:415px;
}

#boardButton{
    position:absolute;
    top:145px;
    left:5px;
    width:155px;
}

#viewerButton{
    position:absolute;
    top:145px;
    left:169px;
    width:155px;
}

#settingButton{
    position:absolute;
    top:145px;
    left:333px;
    width:155px;
}